body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid white;
    background-color: grey;
}
